/* ARQUIVO DE ESTILOS GLOBAIS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
      box-sizing: border-box;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: #e7edf5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .login-container {
      background: #fff;
      padding: 2rem;
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
      background: white;
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05),
              0 0 50px rgba(0, 0, 0, 1.5);  
    }

    .login-container h2 {
      margin-bottom: 1.5rem;
      text-align: center;
      color: #2E7D32;
        transform: scale(0.8); /* Começa  */
  opacity: 0; /* Inicia invisível */
  animation: scaleIn 1s forwards;
  animation-delay: 0.5s;
}

@keyframes scaleIn {
  to {
    transform: scale(1); 
    opacity: 1; /* Finaliza visível */
  }
}
    

    .login-container input[type="text"],
    .login-container input[type="password"] {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .login-container button {
      width: 100%;
      padding: 0.75rem;
      background-color: #2E7D32;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
    }

    .login-container button:hover {
      background-color: #45a049;
    }

    .login-container .register {
      text-align: center;
      margin-top: 1rem;
      font-size: 0.9rem;
    }

    .login-container .register a {
      color: #2E7D32;
      text-decoration: none;
    }

    .remember-senha {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin: -1px 0 15px;
    }

    .remember-senha label input {
      accent-color: #2E7D32;
    }

      .remember-senha a {
        text-decoration: none;
        color: #45a049;

      }
      .remember-senha a:hover {
        text-decoration: underline;
      }

    .background {
  background-image: url('/imagens/onb.jpg'); /* imagem/fundo da página */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* escurece/imagem de fundo */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  transition: transform 0.3s ease; /* Transição */
}

img:hover {
  transform: scale(1.1); /* Aumenta/tamanho da imagem */
}